In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import  LabelEncoder
from xgboost import XGBClassifier

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
def evauation_model(pred, y_val):
  score_MSE = round(mean_squared_error(pred, y_val),2)
  score_MAE = round(mean_absolute_error(pred, y_val),2)
  score_r2score = round(r2_score(pred, y_val),2)
  return score_MSE, score_MAE, score_r2score

In [3]:
data=pd.read_csv('unencoded_data.csv')
data.head()

,Unnamed: 0,age,sex,on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,goitre,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,target
0,0,29.0,0.0,f,f,f,f,f,f,f,...,f,f,f,f,1.600000,1.900000,128.000000,0.976056,113.640746,Z
1,1,41.0,0.0,f,f,f,f,f,f,f,...,f,f,f,f,5.218993,1.970629,108.700305,0.976056,113.640746,Z
2,2,36.0,0.0,f,f,f,f,f,f,f,...,f,f,f,f,5.218993,1.970629,108.700305,0.976056,113.640746,Z
3,3,32.0,0.0,f,f,f,f,f,f,f,...,f,f,f,f,5.218993,1.970629,108.700305,0.976056,113.640746,S
4,4,60.0,0.0,f,f,f,f,f,f,f,...,f,f,f,f,5.218993,1.970629,108.700305,0.976056,113.640746,Z

In [4]:
data.drop(['Unnamed: 0','TT4'],axis=1,inplace=True)
data.head()

,age,sex,on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,query hyperthyroid,goitre,tumor,hypopituitary,psych,TSH,T3,T4U,FTI,target
0,29.0,0.0,f,f,f,f,f,f,f,f,f,f,f,f,1.600000,1.900000,0.976056,113.640746,Z
1,41.0,0.0,f,f,f,f,f,f,f,t,f,f,f,f,5.218993,1.970629,0.976056,113.640746,Z
2,36.0,0.0,f,f,f,f,f,f,f,f,f,f,f,f,5.218993,1.970629,0.976056,113.640746,Z
3,32.0,0.0,f,f,f,f,f,f,f,f,f,f,f,f,5.218993,1.970629,0.976056,113.640746,S
4,60.0,0.0,f,f,f,f,f,f,f,f,f,f,f,f,5.218993,1.970629,0.976056,113.640746,Z

In [5]:
le = LabelEncoder()
cols = data.select_dtypes(include=['object'])
for i in (cols.columns):
    try:
        data[i] = le.fit_transform(data[i])
    except:
        continue
data.head()

,age,sex,on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,query hyperthyroid,goitre,tumor,hypopituitary,psych,TSH,T3,T4U,FTI,target
0,29.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,1.600000,1.900000,0.976056,113.640746,29
1,41.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,5.218993,1.970629,0.976056,113.640746,29
2,36.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,5.218993,1.970629,0.976056,113.640746,29
3,32.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,5.218993,1.970629,0.976056,113.640746,28
4,60.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,5.218993,1.970629,0.976056,113.640746,29

In [6]:
y=data['target']
X=data.drop(['target'],axis=1)

In [7]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.1,random_state=42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(8253, 18)
(918, 18)
(8253,)
(918,)

In [8]:
best_xgboost_model = XGBClassifier()
best_xgboost_model.load_model("best_model.json")
pred = best_xgboost_model.predict(X_test)

In [9]:
score_MSE, score_MAE, score_r2score = evauation_model(pred, y_test)
print(score_MSE, score_MAE, score_r2score)

1.82 0.1 0.97

In [10]:
input_data=(27.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,90.0,0.4,0.94,7.5)
n=np.asarray(input_data)
r=n.reshape(1,-1)
pred = best_xgboost_model.predict(r)
print(pred)

[6]

In [11]:
global target
target=['A', 'AK', 'B', 'C', 'D', 'E', 'F', 'FK', 'G', 'GI', 'GK', 'GKJ', 'H', 'I', 'J', 'K',
                 'KJ', 'L', 'LJ', 'M', 'MI', 'MK', 'N', 'O', 'OI', 'P', 'Q', 'R', 'S', 'Z']

In [12]:
global target_value
target_value={ 'A':'hyperthyroid',
                'B':'T3 toxic',
                'C':'toxic goitre',
                'D':'secondary toxic',
                'E':'hypothyroid',
                'F':'primary hypothyroid',
                'G':'compensated hypothyroid',
                'H':'secondary hypothyroid',
                'I':'increased binding protein',
                'J':'decreased binding protein',
                'K':'concurrent non-thyroidal illness',
                'L':'consistent with replacement therapy',
                'M':'underreplaced',
                'N':'overreplaced',
                'O':'antithyroid drugs',
                'P':'I131 treatment',
                'Q':'surgery',
                'R':'discordant assay results',
                'S':'elevated TBG',
                'T':'elevated thyroid hormones'
    
}

In [21]:
def res(pred):
    tar=target[pred[0]]
    length=len(tar)
    if(length>1):
        #i=2
        for i in range(length):
            value=target_value.get(tar[i])
            print(value)
            if(i!=length-1):
                print("with")
    
    else :
        print(target_value.get(tar))

In [22]:
res([1])

hyperthyroid
with
concurrent non-thyroidal illness

In [23]:
res([0])

hyperthyroid

In [20]:
res([6])

primary hypothyroid